<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Frecipe, <%= @user.first_name + " " + @user.last_name %></h1>
    <p>You have successfully signed up to Frecipe.</p>
    <p>Now you can keep track of what's in your fridge and cook based on what you have in your stock!</p>
    <p>No need to be scared of cooking anymore</p>
    </p>Thanks for joining and have a great day!</p>
  </body>
</html>