<h1>Frecipe Metrics</h1>
<p>Number of Users: <%= @users.count %></p>
<p>Number of recipes: <%= @recipes.count %></p>
<p>Number of Ingredients added to Fridge: <%= @userIngredients %></p>
<p>Number of recipes added to Grocery List: <%= @groecryRecipes %></p>