<% if @current_user == nil %>
<div id="main">
  <header id="banner">
    <h1 class="logo">
      <a href="/">
        <img class="logo_image" alt="Frecipe" src="/assets/frecipename.png" width="200">
      </a>
    </h1>
    <ul class="menu">
      <li>
        <a href="#">Download</a>
      </li>
      <li>
        <% if current_user == nil%>
          <a href="/users/sign_in">Sign in</a>
        <% else %>
        
          <div class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><%= current_user.first_name + " " + current_user.last_name %></a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dropdownMenu">
              <li><a tabindex="-1" href="#">Profile</a></li>
              <li><a tabindex="-1" href="#">Settings</a></li>
              <li><a tabindex="-1" href="/users/sign_out">Sign Out</a></li>
              <li class="divider"></li>
              <li><a tabindex="-1" href="#">Separated link</a></li>
            </ul>
          </div>    
        <% end %>
      </li>
    </ul>
  </header>
  <div>
    <% for recipe in @recipes %>
      <div class="recipe">
      <%= recipe.recipe_name %>
    <% end %>
  </div>
  <section id="slider">
    <div id="cover">
    </div>
  </section>
  <div id="screenshots">
    <section class="feature left" id="recipes">
      <h2>You will be surprised...</h2>
      <p>when you see the countless variety of recipes you could have been cooking with what’s already in your fridge. Recipes without the red banners at the upper-left corner are immediately cookable.</p>
    </section>
    <section class="feature right" id="grocerylist">
      <h2>You will be relieved....</h2>
      <p>when you see our grocery list app, because it’s been designed for cookophobes. When you add recipes to the grocery list, you are only adding the ingredients that you don’t have in your fridge. This means that when you update your fridge, your grocery list gets automatically updated as well.</p>
    </section>
    <section class="feature left" id="fridge">
      <h2>Fridge is easy to keep track of!</h2>
      <p>When you shop using the grocery list feature, Frecipe knows what you’ve bought, so Frecipe will know what you can cook. Just make sure you delete ingredients when you run out of them to fully enable Frecipe’s awesomeness.</p>
    </section>
    <section class="feature right" id="profile">
      <h2>Influence your friends!</h2>
      <p>Upload your recipes so your cookophobe friends can add it to their grocery list, and cook using your recipes. Have your friends follow you and like your recipes! Become a celebrity chef!</p>
    </section>
    <section class="feature left last" id="connect">
      <h2>Built for the lazy</h2>
      <p>If you hate cooking but you have to cook, whether it’s because you’re on a budget or because you would like to start eating healthy, you are just like me. I hate cooking because cooking is time consuming. Frecipe cuts down the time in half, if not more. If it made me enjoy cooking, it can make anyone enjoy cooking.</p>
    </section>
  </div>
  <footer>
    <p class="copyright">Frecipe © 2013</p>
    <ul class="footer_menu">
      <li>
        <a href="https://www.facebook.com/frecipe">Facebook</a>
      </li>
      <li>
        <a href="http://www.twitter.com/frecipeapp">Twitter</a>
      </li>
      <li>
        <a href="#">Contact Us</a>
      </li>
      <li>
        <a href="#">Privacy</a>
      </li>
      <li>
        <a href="#">Terms</a>
      </li>
    </ul>
    <ul class="download">
      <li>
        <a href="https://itunes.apple.com/us/app/id661973790?mt=8"><img src="/assets/appstore.png"></a>
      </li>
      <li>
        <a href="#"><img src="/assets/googleplay.png"></a>
      </li>
    </ul>
  </footer>
</div>
<% else %>

  
<% end %>
