<!DOCTYPE html>
<html>
	<head>
  	<title>Frecipe</title>
  	<meta charset="utf-8">
  	<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<link href='http://fonts.googleapis.com/css?family=Acme' rel='stylesheet' type='text/css'>
  	<%= stylesheet_link_tag "application", :media => "all" %>
  	<link rel="stylesheet" type="text/css" media="only screen and (max-device-width:568px)" href="/assets/mobile/iphone4.css">
  	<%= csrf_meta_tags %>
	</head>
	<body>
		<%= yield %>
		<%= javascript_include_tag "application" %>
	</body>
</html>
